.menu {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.header-row {
    display: flex;
    flex-direction: row;
    align-items:center;
}

.header-logo {
    /* Включаем flexbox */
    display: flex;  
    /* Направление расположение блоков относительно main axis слева направо */
    flex-direction: row;
    /* Направление расположения блоков относительно cross axis по центру */
    align-items: center;
    /* Размер блок с лого и названием (его вес) относительно других элементов */
    flex-grow: 1;
}

.logo-img {
    margin-right:40px;
}

.header-menu {
    flex-grow:3;
}

.cards-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}